section {
  box-sizing: border-box;
}

img {
  width: 300px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  background-color: #6d8b74;
}

.left-side {
  background-color: #6d8b74;
  padding: 20px;
  flex: 50%;
  top: 20px;
}

.button {
  background-color: #5f7161;
  border-radius: 60px;
  color: white;
  padding: 10px 70px;
  font-size: 18px;
  text-align: center;
}

.title {
  background-color: #6d8b74;
  color: white;
  font-size: 24px;
  padding: 50px;
  margin-right: 50px;
  flex: 50%;
}

.circle {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
  background-color: #d0c9c0;

  margin-left: 240px;

  border-radius: 50%;
}
.circle_2 {
  height: 80px;
  width: 80px;
  background-color: #d0c9c0;
  border-radius: 50%;
}
.circle_3 {
  height: 80px;
  width: 80px;
  background-color: #d0c9c0;
  position: absolute;
  right: 50px;
  border-radius: 50%;
}

.circle_4 {
  height: 140px;
  width: 140px;
  background-color: #6d8b74;
  margin-top: 80px;
  position: absolute;
  border-radius: 50%;
}
.circle_5 {
  height: 190px;
  width: 200px;
  background-color: #6d8b74;
  margin-top: 60px;
  position: absolute;
  left: 80px;
  border-radius: 50%;
}

.circle_6 {
  height: 80px;
  width: 95px;
  background-color: #6d8b74;
  margin-top: 150px;
  position: absolute;
  left: 270px;
  border-radius: 50%;
}

.circle_7 {
  height: 155px;
  width: 170px;
  background-color: #6d8b74;
  margin-top: 135px;
  position: absolute;
  left: 360px;
  border-radius: 50%;
}
.circle_8 {
  height: 130px;
  width: 130px;
  background-color: #6d8b74;
  margin-top: 150px;
  position: absolute;
  left: 500px;
  border-radius: 50%;
}

.circle_9 {
  height: 175px;
  width: 175px;
  background-color: #6d8b74;
  margin-top: 145px;
  position: absolute;
  left: 600px;
  border-radius: 50%;
}

.circle_10 {
  height: 150px;
  width: 150px;
  background-color: #6d8b74;
  margin-top: 130px;
  position: absolute;
  left: 760px;
  border-radius: 50%;
}

.circle_11 {
  height: 250px;
  width: 250px;
  background-color: #6d8b74;
  margin-top: 50px;
  position: absolute;
  left: 850px;
  border-radius: 50%;
}

.circle_12 {
  height: 220px;
  width: 220px;
  background-color: #6d8b74;
  margin-top: 120px;
  position: absolute;
  left: 990px;
  border-radius: 50%;
}
.right-side {
  background-color: #6d8b74;
  flex: 50%;
  padding: 20px;
  max-width: 50%;
}

.right-side:nth-child(2) {
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
